fieldset {
	width:600px;
    font-family: sans-serif;
    border: 3px solid #4CCF64;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}

fieldset legend {
    background: #4CCF64;
    color: #fff;
    padding: 5px 10px ;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 20px;
}